@use './site_ressources/partials/variables' as var;

@mixin lien($alt:false) {
	@if $alt {
		--bal-col: #{var.$col-T2};
	}
	@else {
		--bal-col: #{var.$col-P1};
	}

	padding: 4px 8px;
	position: relative;
	font-family: 'Comic Sans MS', cursive;

	z-index: 1;
	color: var(--bal-col);
	transition: color cubic-bezier(1,0,.5,1.5) .2s;

	&::before {
		content: '';
		position: absolute;
		z-index: 0
	}
	&::after {
		content: '';
		border-radius: calc(1ch + 4px);
		position: absolute;
		left: 50%; top: 100%; right: 50%; bottom: 0;

		transition: all cubic-bezier(1,0,.5,1.5) .2s;
		transition-property: left, right, top, bottom;

		@if $alt {
			box-shadow: 0 0 8px 0 var.$col-P1 inset;
			background: var.$col-T2;
		}
		@else {
			box-shadow: 0 0 8px 0 var.$col-T2 inset;
			background: var.$col-P1;
		}
		z-index: -1;
	}
	
	&:hover {
		@if $alt {
			color: var.$col-T2;
		}
		@else {
			color: var.$col-P1;
		}
		&::after {left: 0; top: 0; right: 0; bottom: 0}
		&::before {
			width: 4px; height: 4px;
			border: 4px solid #fff;
			border-style: solid none none solid;
			border-radius: 100% 0 0;
			top: 4px; left: 4px;
		}
	}
}

@mixin onglet() {

}

/*- link ---------*/
/*a {
	padding: 4px 8px;
	position: relative;
	font-family: 'Comic Sans MS', cursive;
	z-index: 1;
	color: var.$col-P1;
	transition: color cubic-bezier(1,0,.5,1.5) .2s;
}
a::before {
	content: '';
	position: absolute;
	z-index: 0
}
a::after {
	content: '';
	border-radius: calc(1ch + 4px);
	position: absolute;
	left: 50%; top: 100%; right: 50%; bottom: 0;
	transition: all cubic-bezier(1,0,.5,1.5) .2s;
	transition-property: left, right, top, bottom;
	box-shadow: 0 0 8px 0 var.$col-P1 inset;
	background: var.$col-P1;
	z-index: -1;
}*/

/*- hov --*/
/*a:hover,a:active {text-decoration: none}
a:hover {color: var.$col-T2}
a:hover::after {left: 0; top: 0; right: 0; bottom: 0}
a:hover::before {
	width: 4px; height: 4px;
	border: 4px solid #fff;
	border-style: solid none none solid;
	border-radius: 100% 0 0;
	top: 4px; left: 4px;
}*/

/*- act --*/
/*a:active {color: var.$col-P1}
a:active::after {
	transition: none;
	animation: .2s linear 0s pop;
	animation-fill-mode: forwards;
	background: none;
}
@keyframes pop {
	0% {border: 4px solid currentColor}
	20% {
		border: 4px dotted currentColor;
		left: 1ch; top: 1ch; right: 1ch; bottom: 1ch;
	}
	50% {
		border: 4px dotted currentColor;
		left: -.4ch; top: -.4ch; right: -.4ch; bottom: -.4ch;
	}
	100% {
		border: 4px dotted transparent;
		left: -.5ch; top: -.5ch; right: -.5ch; bottom: -.5ch;
	}
}*/