@use './site_ressources/partials/variables' as var; // importe variables

@keyframes pop {
	0% {border: 4px solid currentColor}
	20% {
		border: 4px dotted currentColor;
		top: 1ch; left: 1ch; bottom: 1ch; right: 1ch;
	}
	50% {
		border: 4px dotted currentColor;
		top: -.4ch; left: -.4ch; bottom: -.4ch; right: -.4ch;
	}
	100% {
		border: 4px dotted transparent;
		top: -.5ch; left: -.5ch; bottom: -.5ch; right: -.5ch;
	}
}

@function buttonColor($alt) { // Retourne Rouge ou blanc
	@if $alt {@return var.$col-T2};
	@return var.$col-P1;
}

// LIEN DE BASE ----------------------------------
%link {
	padding: 4px 8px;
	position: relative;

	color: var(--bal-col);
	transition: color var.$atf-boing;
	z-index: 1;
	
	&::after, &::before {
		position: absolute;

		transition: all var.$atf-boing;
		left: 50%; top: 100%; right: 50%; bottom: 0;
		pointer-events: none;
	}
	&::after {
		content: '';
		border-radius: calc(1ch + 4px);

		transition-property: top, left, bottom, right;
		box-shadow: 0 0 8px 0 var(--bal-alt) inset;
		background: var(--bal-col);
		z-index: -1;
	}
	&::before {
		border: 0 solid #fff;
		border-style: solid none none solid;
		border-radius: 100% 0 0;

		transition-property: border, top, left, bottom, right;
		z-index: 0;
	}
}
%linkHover {
	&::after {left: 0; top: 0; right: 0; bottom: 0}
	&::before {
		border-width: 3.5px;
		top: 4px; left: 4px; bottom: calc(100% - 12px); right: calc(100% - 12px);
	}
}
%linkActive {
	color: var(--bal-col) !important;
	transition: none;

	&::after {
		transition: none;
		animation: .2s linear 0s pop;
		animation-fill-mode: forwards;
		background: none;
	}
	&::before{content: none}
}
//------------------------------------------------

// Lien normal -------------------------
@mixin lien($alt:false) {
	--bal-col: #{buttonColor($alt)};
	--bal-alt: #{buttonColor(not $alt)};
	font-family: 'Comic Sans MS', cursive;

	@extend %link;

	@if $alt {&::after {box-shadow: none}}
	@else {&::before {content: ''}}
	
	&:hover {
		@extend %linkHover;
		color: buttonColor(not $alt)
	}
	&:active {
		@extend %linkActive;
	}
}

// Lien de menu ------------------------
@mixin onglet($alt:false) {
	--bal-col: #{buttonColor($alt)};
	--bal-alt: #{buttonColor(not $alt)};
	font-weight: 700;
	text-transform: uppercase;

	@extend %link;

	@if $alt {&::after {box-shadow: none}}
	@else {&::before {content: ''}}
	
	&:hover {
		@extend %linkHover;
		color: buttonColor(not $alt)
	}
	&:active {
		@extend %linkActive;
	}
}

// Lien parent -------------------------
@mixin lienParent($alt:false) {
	--bal-col: #{buttonColor($alt)};
	--bal-alt: #{buttonColor(not $alt)};
	
	&>* {
		font-family: 'Comic Sans MS', cursive;
		
		@extend %link;

		@if $alt {&::after {box-shadow: none}}
		@else {&::before {content: ''}}
	}
	
	&:hover>* {
		@extend %linkHover;
		color: buttonColor(not $alt)
	}
	&>*:active {
		@extend %linkActive;
	}
}

@mixin reseauBallon($taille, $orig:true, $alt:false) {
	@if $orig {
		--bal-alt: #{buttonColor(true)};
		&.fa-facebook-f {--bal-col: #4267B2}
		&.fa-vimeo-v {--bal-col: #86c9ef}
		&.fa-twitter {--bal-col: #1DA1F2}
		&.fa-instagram {
			--bal-col: radial-gradient(circle farthest-corner at 50% 100%, #FCCC63 20%,#FBAD5080 60%,#CD486B00 80%), linear-gradient(90deg, #4C68D7 30%,#8A3AB9,#CD486B 70%);
			&:not(:hover)::before {
				background: radial-gradient(circle farthest-corner at 0% 100%, #FCCC63 20%,#FBAD5080 60%,#CD486B00 80%), linear-gradient(135deg, #4C68D7 30%,#8A3AB9,#CD486B 70%);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
			}
			&:active {--bal-col: #8A3AB9}
		}
		&.fa-youtube {
			--bal-col: #F00;
			&::before {font-size: calc(8em / 9)}
		}
	}
	@else {
		--bal-col: #{buttonColor($alt)};
		--bal-alt: #{buttonColor(not $alt)};
	}

	@extend %link;
	padding: 8px;
	font-size: 32px;
	width: calc(1em + 16px); height: calc(1em + 16px);

	&::after {
		border-radius: 50% 50% 0 50%;
		box-shadow: 0 0 8px 0 buttonColor(not $alt) inset;
		transform: rotate(45deg);
	}
	&::before {
		border: none;
		width: 1em; height: 1em;
		left: 8px; top: 8px; right: 8px; bottom: 8px;
		text-align: center;
	}
	
	&:hover {
		@extend %linkHover;
		padding: 0;
	}
	&:active {
		@extend %linkActive;
	}
}

// @mixin reseauBallon($taille, $orig:true, $alt:false) {
// 	@if $orig {
// 		.fa-facebook-f {--bal-col: #4267B2}
// 		.fa-vimeo-v {--bal-col: #86c9ef}
// 		.fa-twitter {--bal-col: #1DA1F2}
// 		.fa-instagram {--bal-col: radial-gradient(circle farthest-corner at 50% 100%, #FCCC63 20%,#FBAD5080 60%,#CD486B00 80%), linear-gradient(90deg, #4C68D7 30%,#8A3AB9,#CD486B 70%)}
// 	}
// 	@else {--bal-col: #{buttonColor($alt)};}

// 	@extend %link;
// 	padding: 8px;
// 	font-size: 32px;
// 	width: calc(1em + 16px); height: calc(1em + 16px);

// 	&::after {
// 		border-radius: 50% 50% 0 50%;
// 		box-shadow: 0 0 8px 0 buttonColor(not $alt) inset;
// 		transform: rotate(45deg);
// 		background: buttonColor($alt);
// 	}
// 	&::before {
// 		left: 8px; top: 8px; right: 8px; bottom: 8px;
// 		width: 1em; height: 1em;
// 		text-align: center;
// 	}
	
// 	&:hover {
// 		@extend %linkHover;
// 		color: var(--bal-col);
// 		padding: 0;
// 		&::before {
// 			border-radius: 50%;
// 			border-width: 0;
// 		}
// 	}
// 	&:active {
// 		@extend %linkActive;
// 	}
// }