@use './site_ressources/partials/vague';
@use './site_ressources/partials/variables' as var;
@use './site_ressources/partials/bouton' as btn;

.card{
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    border: none;
    border-radius: 50px;
    background-color: var.$col-S1;
  }
  .card-img-top{
      width:100%;
      border-radius: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .card-footer{
    background-color: var.$col-S1;
  }

  #card-v2{
    background-color: var.$col-T3;
  }
  #card-footer-v2{
    background-color: var.$col-T3;
  }