@mixin vague($bot: false, $top: true, $thick: 100) {
	border-image: url("./site_ressources/images/vague.svg") 80 round;
	border-image-width: $thick;
	border-image-outset: $thick;
	@if $top {
		margin-top: $thick+20px;
		border-top: 60px solid transparent;
	}
	@if $bot {
		margin-bottom: $thick+20px;
		border-bottom: 60px solid transparent;
	}
}

@mixin vague2($bot: false, $top: true, $thick: 100) {
	
}