@use './site_ressources/partials/vague';
@use './site_ressources/partials/variables' as var;
@use './site_ressources/partials/bouton' as btn;

/*- header -*/
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .site-logo {
    width: 125px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .site-logo:hover {
    width: 125px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer; 
  }
  
  .head-link {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var.$col-P1;
		@include btn.onglet();
  }
  
  .head-lang {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 30px; 
    padding: 10px;
    color: var.$col-P1;
  }
  
  // @media screen and (max-width: 1200px) {
  //   .head-link{
  //     display: none;
  //   }
  //   .head-lang{
  //     display: none;
  //   }
  //   .hamburger {
  //     display: block!important;
  //   }
  // }
  
  // @media screen and (min-width: 1200px) {
  //   .hamburger-toggle{
  //     display: none!important;
  //   }
  // }
  
  .hamburger {
    display: none;
  }
  .hamburger:hover{
    cursor: pointer;
  }
  
  .hamburger-link{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var.$col-P1;
  }
  .hamburger-toggle{
    display: none;
    transition-duration: 1s;
  }
  .hamburger-dropdown{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var.$col-T3;
  }