@use './site_ressources/partials/vague';
@use './site_ressources/partials/variables' as var;
@use './site_ressources/partials/bouton' as btn;

#mono {
    position: absolute;
    transform: translate(50vw, 2vw);
    left: 50%;
    margin-top: 30px;
  }
  
  #roue { 
    position: absolute;
    width: 100px;
  }
  
  #monocycle{
    position: absolute;
    width: 60px;
    left: 15px;
    transform: translateY(-55%);
    transform-origin: 52% 95%;
   }
  
  #mono2 {
    position: absolute;
    transform: translate(50vw, 2vw) scaleX(-1);
    left: -52.5%;
    margin-top: 30px;
  }
  
  #roue2 { 
    position: absolute;
    width: 100px;
  }
  
  #monocycle2{
    position: absolute;
    width: 60px;
    left: 15px;
    transform: translateY(-55%);
    transform-origin: 52% 95%;
   }