@use './ressources/partials/vague';
@use './ressources/partials/variables' as var;
@use './ressources/partials/bouton' as btn;

#p-rouge{
    color: var.$col-P1;
}
#article-texte{
    text-align: left;
    padding: 20px;
}
#h1-article{
    margin-top: 150px;
}