$col-P1: #EC1A24;
$col-P2: #CE1921;
$col-P3: #eb4a52;
$col-S1: #FFEFEF;
$col-S2: #E8E8E8;
$col-S3: #535353;
$col-T1: #484848;
$col-T2: #F0EEEE;
$col-T3: #F3E3E3;
$pad-h: 30px 60px;

$atf-boing: cubic-bezier(1,0,.5,1.5) .2s;