@use './ressources/partials/vague';
@use './ressources/partials/variables' as var;
@use './ressources/partials/bouton' as btn;

footer {
	position: relative;
	width: 100%;
	height: 50%;
	background-color: var.$col-P1;
	z-index: 100;
	bottom: 0;
	padding-top: 5%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	a.info {
		@include btn.lien(true);
	}
}

.aligner {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.whiteclown {
	position: relative;
	width: 110px;
	height: 110px;
	cursor: pointer;
}

.quote-blanc {
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	padding-left: 10px;
}
.footer-button {
	@include btn.bouton(true,12px);
	display: block;
	margin: 0 auto;
	// text-decoration: none;
	// font-size: 16px;
	// padding: 8px 25px;
	// border: solid 2px white;
	// color: var.$col-S1;
	// background-color: var.$col-P1;
	// border-radius: 50px;
	margin-bottom: 40px;
	// text-decoration: none;
	// font-family: "Comic Sans MS", cursive;
}

// .footer-button:hover {
// 	background-color: var.$col-P2;
// 	cursor: pointer;
// }

.aligner2 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.aligner3 {
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#menu-social .menu-item {
	@include btn.reseauBallon(40px, true, true);
	// width: 40px; height:40px;
	margin: 0 20px;
	// position: relative;
	// text-align: center;
	// font-size: 40px;
}
// #menu-social .menu-item:nth-child(2n) {
// 	@include btn.reseauBallon(40px, true, true);
// 	margin: 0 20px;
// }
// #menu-social a {
// 	--bal-size: 0;
// 	position: absolute;
// 	top: 0; left: 0; bottom: 0; right: 0;
// 	border-radius: 50% 50% 0 50%;
// 	transform: scale(var(--bal-size)) rotate(45deg);
// 	background: var.$col-S2;
// 	color: #0000;
// 	transition: transform cubic-bezier(1,0,.5,1.5) .2s;
// }
// #menu-social .menu-item::before {
// 	position: absolute;
// 	top: 50%; left: 50%;
// 	transform: translate(-50%,-50%);
// 	font-size: 66.7%;
// 	color: var.$col-S2;
// 	transition: color cubic-bezier(1,0,.5,1.5) .2s;
// 	z-index: 1;
// 	pointer-events: none;
// }
// #menu-social .menu-item:hover a {--bal-size: 1}
// #menu-social .menu-item:hover:not(:active)::before {color: var.$col-P1}
// #menu-social .menu-item:active a {animation: .2s linear 0s pop}


#partenaires-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
}
.partenaire {
	height: 50px;
	margin: 15px 30px;
	position: relative;
	transition: transform ease-out .5s;
	
	&:hover {transform: scale(1.1)}
	img {height: 100%}
}
@media screen and (max-width: 1200px) {
	.aligner3 {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.resaux {width: 35px}
}
@media screen and (max-width: 768px) {
	.aligner3 {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.copyright {justify-content: center}
}

.copyright {
	display: flex;
	margin-top: 30px;
	position: relative;
	justify-content: flex-end;
	color: white;
}

/*- footer end -*/

.confetti {
	width: 7px;
	height: 12px;
	position: absolute;
	z-index: 2;
}
