@use './site_ressources/partials/vague';
@use './site_ressources/partials/variables' as var;
@use './site_ressources/partials/footer' ;
@use './site_ressources/partials/header' ;
@use './site_ressources/partials/carousel' ;
@use './site_ressources/partials/hero' ;
@use './site_ressources/partials/cards' ;
@use './site_ressources/partials/nouvelles' ;
@use './site_ressources/partials/animationmono' ;
@use './site_ressources/partials/erreur-404' ;

* {
	box-sizing: border-box;
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: var.$col-T1;
}

body {
  background-color: var.$col-S1;
  overflow-x: hidden;
}

a, a:hover,a:active {text-decoration: none}

/*- heading -*/
h1,h2,h3{
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	color: var.$col-P1;
}
h1 {font-size: 45px; font-weight: 900; letter-spacing:2px; color: var.$col-P1}
h2 {font-size: 36px; font-weight: 700}
h3 {font-size: 25px; font-weight: 500}
p {font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 17px; font-weight: 500}

.container{
  max-width: 1400px;
}
/*- hero -*/
.hero-button{
  text-decoration: none;
  font-family: 'Comic Sans MS', cursive;
  font-size: 16px;
  border: none;
  color: var.$col-T2;
  background-color: var.$col-P1;
  padding: 8px 25px;
  border-radius: 50px;
  margin: 30px;
}
.hero-button:hover{
  background-color: var.$col-P2;
  cursor: pointer;
}
.hero-button:active{
  background-color: var.$col-P3;
  cursor: pointer;
}

/*- evenements-*/
.evenements-bg{
  background-color: var.$col-P1;
  background-image: url(site_ressources/images/bg_bulles_rouges.png);
  background-position: top center;
}
.evenements{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.h1-evenements{
  color: var.$col-S1;
}
/*-evenements-fin-*/

/*-temoignage-*/
.temoignage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/*- temoignage fin-*/

/*- nouvelles-accueil -*/
.nouvelles-accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ballon-4{
  position: absolute;
  transform: translateX(10vw) translateY(120px) scale(1);
}
.ballon-5{
  position: absolute;
  transform: translateX(80vw) translateY(400px) scale(1.2);
}
.ballon-6{
  position: absolute;
  transform: translateX(15vw) translateY(800px) scale(1);
}
.ballon-7{
  position: absolute;
  transform: translateX(40vw) translateY(50px) scale(1.2);
}
.ballon-8{
  position: absolute;
  transform: translateX(-40vw) translateY(100px) scale(0.9);
}
/*- nouvelles-accueil-fin-*/

/*- faire-un-don-accueil -*/
.don-accueil{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.don-bulles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}
.bulle{
  border-radius: 20px;
  border: solid 3px var.$col-P1;
  padding: 10px 30px 10px 30px;
  margin: 20px;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	color: var.$col-P1;
  z-index: 1;
}
.bulle:hover{
  background-color: var.$col-T3;
  cursor: pointer;
}
.bulle:active{
  background-color: var.$col-S1;
  transform: translateY(-3px);
  cursor: pointer;
}
#mono-don{
  margin-bottom: 100px;
}
/*- faire-un-don-accueil fin-*/
